body{
margin:0;
font-family:Arial;
background:#0e0e0e;
color:white;
}

nav{
display:flex;
justify-content:center;
gap:30px;
padding:15px;
background:#111;
}

nav a{
color:#00ff99;
text-decoration:none;
font-weight:bold;
}

.container{
max-width:420px;
margin:auto;
padding:20px;
}

h1,h2{
text-align:center;
color:#00ff99;
}

.card{
background:#1b1b1b;
padding:20px;
border-radius:16px;
box-shadow:0 0 15px rgba(0,255,153,.2);
margin-bottom:25px;
}

label{
display:block;
margin-top:10px;
color:#ccc;
}

input,select{
width:100%;
margin-top:6px;
padding:10px;
border-radius:10px;
border:none;
background:#0f0f0f;
color:white;
}

button{
margin-top:15px;
width:100%;
padding:12px;
background:#00ff99;
border:none;
border-radius:12px;
font-weight:bold;
cursor:pointer;
}

.note{
margin-top:12px;
background:#121212;
padding:12px;
border-left:4px solid #00ff99;
border-radius:10px;
font-size:13px;
color:#bbb;
}

#result,#transformResult{
margin-top:15px;
line-height:1.6;
}

canvas{
margin-top:15px;
background:#0f0f0f;
border-radius:12px;
}
